.grid-box{
    color: white;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin: 0.5em;
}
.pizza-header{
    width: 40vw;
    aspect-ratio: 1/1;
    max-width: 500px;
}

header h1{
    display: block;
}
footer a{
    color: black;
}
.button a{
    text-decoration: none;
    color: black;
    display: block;
    background-color: #C3824F;
    width: fit-content;
    padding: 0.75em;
    border-radius: 10px;
    font-size: 1.25em;
}
.restaurant-name{
    font-size: 1.25em;
}
.restaurant-name h1{
    margin: 0;
}
.bottom-header{
    margin-left: 5%;
    margin-right: 5%;
}
.header-text{
    font-size: 1.25em;
    grid-column: 2 span ;
}
.header-text p{
    margin: 0;
}
.button{
    display: flex;
    justify-content: center;
    grid-column: 2 span ;
}
.main{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1em;
    margin: 0.5em;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 50px;
    background-color: #DCAD75;
    border-radius: 25px;
    overflow: hidden;
    min-width: 350px;
    max-width: 350px;
    gap: 1em;

}
.card-text{
    margin-left: 1em;
    margin-right: 1em;
}
.card footer{
    background-color: #C3824F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
}
@media only screen and (min-width: 1100px) {
    .main{
        justify-content: center;
    }
    
}
@media only screen and (min-width: 800px) {
    .footer{
        display: flex;
        justify-content: space-between;
    }
    .footer-section{
        width: 400px;
        align-self: flex-end;
    }
    .grid-box{
        grid-template-rows: 1fr min-content 1fr;
    }
    .restaurant-name{
        font-size: 1.5em;
        width: 250px;
        align-self: flex-end;
    }
    .pizza-header{
        grid-row: 3 span;
    }
    .header-text{
        grid-row-start: 2;
        grid-column-start: 2;
        align-self: flex-start;
    }
    .button{
        margin-top: 2em;
        align-self: flex-start;
        grid-column: 1 span;

    }
}
