
a{
    text-decoration: none;
    color: black;
    display: block;
    background-color: #C3824F;
    width: fit-content;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1.25em;
}
.more_info a{
    padding: 0.75em;
}
.more_info{
    margin: 1em;
}
header{
    position: sticky;
    top: 0;
    background-color: #191919;
}
.menu{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1em;
    padding-bottom: 0.5em;
    border-bottom: #6E6E6E solid 2px; 
}

.kategorie{
    margin: 1em;
    color: white;
}
.hlava_flex{
    display: flex;
}
.podkategorie{
    color: #C3824F;
}
.podkategorie h2{
    margin: 0;
    font-size: 1.2em;
}
.cara{
    border: #6E6E6E solid 1.5px ;
    height: 0;
    width: 100%;
    align-self: center;
    margin-left: 1em;
}
.produkt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
    padding-bottom: 0.2em;
    border-bottom: #6E6E6E solid 0.5px ;
}
.produkt_nadpis, .produkt_popis{
    grid-column: 2 span;
}
.produkt_nadpis h3{
    margin: 0;
    font-size: 1.5em;
}
.produkt_cena p{
    margin: 0;
    font-size: 2em;
}
.objednat_button{
    display: flex;
    align-items: center;
    justify-self: flex-end;
}
h4{
    color: #C3824F;
    font-size: 1.3em;
    margin: 0;
}
.popis p{
    margin: 0;
    padding-left: 1.5em;
    width: 200px;
}
.vydaje p{
    width: 100px;
}
footer{
   position: fixed;
}
@media only screen and (min-width: 900px) {
    body{
        display: grid;
        grid-template-columns: 150px 1fr 350px;
        max-width: 1300px;
    }
    footer{
        position:sticky;
        top: 0;
        margin-top: 2em;
     }
    .more_info{
        opacity: 0;
        position: fixed;
    }
    .menu{
        flex-direction: column;
        align-items: flex-end;
        border: 0;
        margin: 2em;
    }
    .menu a{
        text-decoration: none;
        color: #C3824F;
        display: block;
        background-color: #191919;
        width: fit-content;
        padding: 0;
        border-radius: 0;
        font-size: 1.25em;
    }
}