main{
    color: white;
}
.rezevace_flex{
    display: flex;
}
.nadpis{
    color: #C3824F;
}
.nadpis h1{
    margin: 0;
}
.cara{
    border: #6E6E6E solid 1px ;
    height: 0;
    width: 100%;
    align-self: center;
    margin-left: 1em;
}
.hlavicka{
    margin: 1em;
    border-bottom: #6E6E6E solid 2px ;
}
input[type=text], select, input[type=date] {
    padding: 12px;
    border: 1px solid #C3824F;
    border-radius: 10px;
    box-sizing: border-box;
    color: #C3824F;
    resize: vertical;
    background-color: black;
}
input[type=submit] {
    background-color: #C3824F;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
::placeholder {
    color: #C3824F;
    opacity: 1;
  }
.signin_grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 2em;
}
.signin_grid {
    margin-left: 1em;
    margin-right: 1em;
}
@media only screen and (min-width: 800px) {
    .signin_grid{
        max-width: 1000px;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 1em;
        width: 100%;
        align-items: flex-end;
    }
    .footer_section{
        width: 400px;
    }
}
